<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        default-autowire="byType">

<!--    <context:annotation-config/>-->
<!--    <context:component-scan base-package="cn.zephyr"/>-->

    <bean id="indexService" class="cn.zephyr.IndexServiceImpl"
        >
        <!-- c-namespace -->
          <!--c:indexDao-ref="indexDao" c:injectedString="445566ddeeff">-->

        <!-- p-namespace -->
          <!--p:indexDao-ref="indexDao" p:injectedString="445566ddeeff">-->



        <!--setter注入-->
        <!--<property name="indexDao" ref="indexDao"/>
        <property name="injectedString" value="112233aabbcc"/>-->

        <!--构造器注入-->
        <!--<constructor-arg name="indexDao" ref="indexDao"/>
        <constructor-arg name="injectedString" value="112233aabbcc"/>-->
    </bean>
    <bean id="indexDao" class="cn.zephyr.IndexDao"/>
<!--    <bean id="indexDao" class="cn.zephyr.IndexDao" autowire="byType"/>-->
</beans>